.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-el {
    margin: 10px;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    color: white;

    label {
      color: #ffffff;
    }
  }
}
